@font-face {
  font-family: "Caslon Doric SemiBold";
  src: url("./fonts/CaslonDoric-Semibold-Web.woff2") format("woff2"),
    url("./fonts/CaslonDoric-Semibold-Web.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: "Caslon Doric Regular";
  src: url("./fonts/CaslonDoric-Regular-Web.woff2") format("woff2"),
    url("./fonts/CaslonDoric-Regular-Web.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  background: #fa372b;
  color: #000;
  font-size: 16px;
  overflow: hidden;
}

h1,
h2,
h3 {
  font-family: "Caslon Doric SemiBold";
  margin: 0;
}

a {
  color: #000;
  cursor: pointer;
  text-decoration: none;
  transition: color 0.25s;
}

a:hover,
a:focus,
a:active {
  color: #fff;
}

.body {
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
}

.copyContainer,
.imgContainer {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  height: 100%;
  left: 0;
  justify-content: flex-start;
  padding: 2vw;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
}

.imgContainer {
  padding: 0;
  z-index: 1;
}

h1 {
  font-size: 7.5vw;
  letter-spacing: -2px;
  margin-top: 3vw;
}

h2 {
  font-size: 3vw;
}

.tagline {
  bottom: 2vw;
  left: calc(2vw - 2px);
  position: fixed;
}

.contacts,
.contact {
  align-items: flex-start;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.contact {
  margin-bottom: 1vw;
}

.contact h3,
.contact a {
  font-family: "Caslon Doric Regular";
  font-size: 1.1vw;
  line-height: 1.4vw;
  font-weight: 400;
}

.imgContainer .item {
  bottom: 0;
  position: fixed;
  right: 0;
}

.imgContainer .item.large {
  bottom: 1vw;
  height: 50vh;
  right: 3vw;
  transform: rotate(-30deg);
  width: 50vh;
  z-index: 3;
}

.imgContainer .item.medium {
  bottom: 18vw;
  height: 37.5vh;
  right: 44vw;
  transform: rotate(14deg);
  width: 37.5vh;
  z-index: 2;
}

.imgContainer .item.small {
  bottom: 3.5vw;
  height: 25vh;
  right: 64vw;
  transform: rotate(45deg);
  width: 25vh;
  z-index: 1;
}

.imgContainer .item.large svg {
  fill: #fff;
}

.imgContainer .item.medium svg {
  /*fill: #fdc144;*/
  fill: #fff;
}

.imgContainer .item.small svg {
  /*fill: #71147f;*/
  fill: #fff;
}

@media (min-width: 1600px) {
  .contact h3,
  .contact a {
    font-size: 1rem;
    line-height: 1.3rem;
  }
}

@media (max-width: 800px) {
  h1 {
    font-size: 10vw;
    margin-top: 5vw;
  }

  h2 {
    font-size: 4vw;
  }

  .contact h3,
  .contact a {
    font-size: 2vw;
    line-height: 2.5vw;
  }

  .imgContainer .item.large {
    bottom: 17vw;
    height: 33.33vh;
    right: -2vw;
    transform: rotate(45deg);
    width: 33.33vh;
    z-index: 1;
  }

  .imgContainer .item.medium {
    bottom: 20vw;
    height: 22.22vh;
    right: 45vw;
    transform: rotate(28deg);
    width: 22.22vh;
    z-index: 3;
  }

  .imgContainer .item.small {
    bottom: 50vw;
    height: 11.11vh;
    right: 61.5vw;
    transform: rotate(-40deg);
    width: 11.11vh;
    z-index: 2;
  }

  .imgContainer .item.large svg {
    /*fill: #71147f;*/
    fill: #fff;
  }

  .imgContainer .item.medium svg {
    /*fill: #fdc144;*/
    fill: #fff;
  }

  .imgContainer .item.small svg {
    fill: #fff;
  }
}

@media (max-width: 550px) {
  .contact h3,
  .contact a {
    font-size: 3.25vw;
    line-height: 5.25vw;
  }
  .copyContainer {
    margin: 10px;
  }
  .contacts h1 {
    font-size:11.25vw !important;
  }
.tagline {
  bottom: 5vw;
  left: calc(4vw - 2px);
  position: fixed;
}
.tagline h2 {
  font-size: 6.5vw;
}
  .contact h3 {
    font-size: 15px;
  }
  .contact a {
    font-size: 15px;
  }
  .contact {
    margin-bottom: 15px;
}
  .imgContainer .item.large {
    bottom: 9rem;
    right: -2.5rem;
    transform: rotate(25deg);
    z-index: 2;
  }

  .imgContainer .item.medium {
    bottom: 7rem;
    right: 63%;
    transform: rotate(19deg);
    z-index: 3;
  }

  .imgContainer .item.small {
    bottom: 26rem;
    right: 3rem;
    transform: rotate(-40deg);
    z-index: 1;
  }

  .imgContainer .item.large svg {
    /*fill: #fdc144;*/
    fill: #fff;
  }

  .imgContainer .item.medium svg {
    /*fill: #71147f;*/
    fill: #fff;
  }

  .imgContainer .item.small svg {
    fill: #fff;
  }
}
